{% extends 'base.html.twig' %}

{% block title %}Add Recipe{% endblock %}

{% block body %}


<!-- Page Title -->
<div class="page-title-area page-title-img-one">
    <div class="container">
        <div class="page-title-item">
            <h2>Add Recipe</h2>
            <ul>
                <li><a href="{{ path('app_recettes') }}">Home</a></li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>Add Recipe</li>
            </ul>
        </div>
    </div>
</div>

<!-- Form Section -->
<div class="book-table-area ptb-100">
    <div class="container">

        <div class="book-table-wrap">

            <div class="section-title">
                <h2>Add Recipe</h2>
            </div>

                 {{ form_start(formulaire) }}
                <div class="row">
                    <div class="col-md-6 mb-3">{{ form_row(formulaire.titre) }}</div>
                    <div class="col-md-6 mb-3">{{ form_row(formulaire.categorie) }}</div>
                </div>

                <div class="mb-3">{{ form_row(formulaire.description) }}</div>
                <div class="mb-3">{{ form_row(formulaire.instructions) }}</div>

                <div class="row">
                    <div class="col-md-4 mb-3">{{ form_row(formulaire.tempsPreparation) }}</div>
                    <div class="col-md-4 mb-3">{{ form_row(formulaire.tempsCuisson) }}</div>
                    <div class="col-md-4 mb-3">{{ form_row(formulaire.difficulte) }}</div>
                </div>

              
                    <div class="col-md-6 mb-3">{{ form_row(formulaire.nbPersonnes) }}</div>
                    
                    <div class="col-md-6 mb-3">{{ form_row(formulaire.imageName) }}</div>
                

                
                <div class="card mb-3 p-3 bg-light">
                    {{ form_row(formulaire.tags) }}
                </div>

                <div class="mb-3">{{ form_row(formulaire.publiee) }}</div>

                <button type="submit" class="btn  w-100">💾 Enregistrer la recette</button>
            {{ form_end(formulaire) }}

            <a href="{{ path('app_recettes') }}" class="btn btn-link mt-3 text-muted">
                ← Retour
            </a>
        </div>

        </div>

    </div>
</div>

{% endblock %}